

/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.gameCanvas {
background-color: red;
border-radius: 5px;
margin: 0 auto;
}

.high-score {

}

.current-score {
	
}

.enemy {
  fill: black;
}

.hero {
  fill: white;
}

.update {
  fill: #333;
}

.exit {
  fill: red;
}

.scoreboard{
	font-family: Helvetica;
	font-size: 1em;
	margin-left: 50%;
	margin-top: 50px;
}